* {
  box-sizing: border-box;
  margin: 0 0 0 0px;
  padding: 0px;
}

@media all and (max-width: 1024px) {
  .header-container, .benefit-blocks, .about-us {
    margin-left: 16px;
  }

  #ppc-pic {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: 'Gordita Regular';
  src: url('fonts/Gordita Normal.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Bold';
  src: url('fonts/Gordita Bold.woff') format('woff');
}

body {
  font-family: 'Gordita Regular';
}

/* Navigation */

.nav-container {
  background-color: #FFFFFF;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  box-shadow: 0px 0px 3px 0px #E7E9EB;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 80px;
  font-size: 14px;
  line-height: 20px;
}

.align-left {
  display: flex;
  justify-content: flex-start;
}

.align-left ul {
  display: flex;
  justify-content: flex-start;
}

.align-right ul{
  display: flex;
  justify-content: flex-end;
}

.align-left li {
  margin: auto 28px auto 0px;
}

.align-right li{
  margin: auto;
}

.nav-btn {
  display: flex;
  text-align: center;
}

.nav-btn img {
  margin-left: 6px;
}

.logo-header {
  display: flex;
  text-align: center;
  margin-right: 32px;
}

.nav-settings a{
  font-size: 16px;
  line-height: 24px;
  margin-left: 32px;
}

.nav-settings #trial-btn button{
  font-style: normal;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  border: none;
  background: #FF9900;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  padding: 9px 20px 7px 20px;
}

.nav-settings #login-btn button{
  font-style: normal;
  font-weight: bold;
  color: #4A4A4A;
  text-decoration: none;
  border: none;
  background: #FFF;
  font-size: 16px;
  line-height: 24px;
  margin-left: 32px;
}

.nav-settings select {
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  height: 32px;
}


.header-container {
  /* display: flex;
  text-align: left; */
  margin-top: calc(136px + 80px);
}

.header-container h1 {
  font-family: 'Gordita Bold';
  font-size: 50px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 28px;
}

.header-container p{
  font-style: normal;
  font-size: 22px;
  line-height: 36px;
  color: #4A4A4A;
  margin-bottom: 28px;
}

#explore-btn {
  padding: 13px 20px 11px 20px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  border: none;
  background: #FF9900;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
}

header img {
  position: absolute;
  width: 640px;
  height: 640px;
  right: calc((100vw - 1024px)/2 - 64px);
  top: 80px;
  z-index: -1;
}

.benefit-blocks {
  text-align: left;
  margin-top: 176px;
}

.benefit-blocks .wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.benefit-blocks img{
  width: 60px;
}

.benefit-blocks h1{
  font-family: 'Gordita Bold';
  font-size: 22px;
  line-height: 28px;
  color: #333333;
  margin: 20px 0px;
}

.benefit-blocks p {
  width: 320px;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4A;
}

.save-time, .achieve-goals {
  margin-right: 32px;
}

.about-us{
  margin-top: 160px;
}

.about-us h1{
  font-family: 'Gordita Bold';
  font-size: 44px;
  line-height: 56px;
  color: #333333;
  margin: 0 auto 40px auto;
  max-width: 1024px;
}

#bg-img2 {
  position: absolute;
  width: 413px;
  height: 221px;
  right: calc((100vw - 1024px)/2 - 64px) ;
  z-index: -1;
}

.about-us .wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-us .description p {
  width: 440px;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4A;
}

.about-us .description {
  margin-right: 60px;
}

#companies-logos {
  width: 348px;
  height: 148px;
  margin-top: 44px;
}

#about-us-learn-more {
  display: flex;
  text-align: center;
  margin-top: 36px;
}

#about-us-learn-more a{
  font-size: 16px;
  line-height: 24px;
  color: #FF9900;
}

#about-us-learn-more img {
  margin-left: 4px;
}

.feedback-container {
  width: 496px;
  height: 368px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;

  background: #FFFFFF;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 40px;
}

.feedback-container img {
  width: 108px;
  height: 108px;
}

#pic-and-label {
  display: flex;
  align-items: center;
}

#ceo-label {
  width: 164px;
  margin-left: 24px;
}

#ceo-label h4 {
  font-family: 'Gordita Bold';
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

#ceo-label p{
  font-size: 12px;
  line-height: 16px;
  color: #888888;
}

#ceo-quote {
  margin-top: 24px;
  width: 416px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.amazon-tools {
  margin-top: 160px;
  margin-bottom: 80px;
}

.amazon-tools .wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

#tools-header {
  width: 848px;
  height: 132px;
  font-family: 'Gordita Bold';
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
}

#bg-img3 {
  z-index: -1;
  position: absolute;
  margin-top: -30px;
  width: 1200px;
  left: calc(50vw - 600px);
  text-align: center;
}


.ppc-tool {
  padding: 32px;
  background: #FFFFFF;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 32px;
  flex-grow: 3;
  flex-shrink: 1;
}



.ppc-header {
  font-family: 'Gordita Bold';
  font-size: 22px;
  line-height: 28px;
  margin: 20px 0 20px 0px;
}

.ppc-tool .ppc-desc {
  width: 464px;
  height: 60px;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  margin: 0px 0px 28px 0px;
}


.ppc-secondary-header {
  font-family: 'Gordita Medium';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #333333;
}

.first-features-list {
  display: flex;

  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 464px;
}

.first-features-list .feature-item {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 32px;
  margin-top: 20px;

}

.first-features-list img {
  margin-right: 12px;
}

.first-features-list p {
  width: 152px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  /* white-space: nowrap; */
}

#ppc-pic {
  /* margin: 24px 40px 22px 0; */
  width: 396px;
  min-width: 150px;
}

.ppc-learn-more-btn {
  margin-top: 28px;
  /* margin-bottom: 32px; */
  width: 232px;
  height: 48px;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 4px;
  padding: auto 30px;
  display: flex;
  justify-content: space-between;
}

.ppc-learn-more-btn a {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  margin: auto 20px;
}

.ppc-learn-more-btn img {
  margin: auto 20px;
}


.three-in-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 3;
  flex-shrink: 1;
  grid-row-gap: 16px;
}

.three-cards {
  padding: 32px;
  background-color: #FFFFFF;
  width: 320px;
  height: 552px;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  /* box/shadow */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ppc-desc {
  width: 256px;
  height: 80px;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  margin: 0px 0px 28px 0px;
}


.features-list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.features-list .feature-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.features-list img {
  margin-right: 12px;
}

.features-list p {
  width: 220px;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  /* white-space: nowrap; */
}

.three-in-row .ppc-learn-more-btn {
  align-self: flex-end;
}

.feedback {
  overflow-x: hidden;
  margin-bottom: 80px;
}

#bg-img4 {
  z-index: -2;
  position: absolute;
  margin-top: -30px;
  width: 1200px;
  left: calc(50vw - 600px);
  text-align: center;
}

#feedback-header {
  width: 848px;
  height: 300px;
  text-align: center;
  font-family: 'Gordita Bold';
  font-size: 44px;
  line-height: 56px;
  background: -webkit-linear-gradient(#cfcfcf, #6e6d6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto 20px auto;
  padding-top: 120px;
}

.feedback-cards {
  z-index: 0;
  position: relative;
  overflow-x: hidden;
  height: 400px;
  left: -8%;
  width: 117%;
  display: block;
}

.first-row, .second-row {
  display: flex;
  flex-wrap: nowrap;
}

.first-row {
  position: relative;
  left: -50%;
}

.second-row {
  position: relative;
  left: -300%;
}

.card {
  min-width: 344px;
  height: 156px;
  display: flex;
  background: white;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  flex-wrap: wrap;
  padding: 24px;
  grid-gap: 12px;
  margin: 12px;
}

.card p {
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  margin-bottom: 8px;
}

.card img ~ p {
  color: #888888;
}

.card img {
  height: 28px;
  width: auto;

}

#bg-img5 {
  z-index: -2;
  position: absolute;
  margin-top: -30px;
  width: 1200px;
  left: calc(50vw - 600px);
  text-align: center;
}

#solutions-header {
  width: 600px;
  height: 160px;
  text-align: center;
  font-family: 'Gordita Bold';
  font-size: 44px;
  line-height: 56px;
  margin: 0 auto 30px auto;
  padding-top: 0px;
}

.solutions .three-cards {
  width: 320px;
  height: 656px;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.solutions .ppc-learn-more-btn {
  margin-top: auto;
  width: 100%;
}

.blue-btn {
  background-color: #68C3DE;
}

.purple-btn {
  background-color: #8B3ACA;
}

.green-btn {
  background-color: #2DC5C5;
}

.solutions {
  margin-bottom: 80px;
}

.solutions-secondary-header {
  font-family: 'Gordita Bold';
  font-size: 22px;
  line-height: 28px;
  margin: 12px 0 24px 0px;
  width: 256px;
}

.solutions-desc {
  font-size: 16px;
  line-height: 24px;
}

.solutions-ic {
  width: 60px;
  height: 60px;
  text-align: left;
}

.benefits-list {
  margin-top: 38px;
  max-height: 200px;
}

.benefits-list img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.benefit-item {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4A;
  margin-bottom: 20px;
}

.benefit-item p {
  max-width: 228px;
}
