* {
  box-sizing: border-box;
  margin: 0 0 0 0px;
  padding: 0px;
}

body > section {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
}

@media all and (max-width: 1024px) {
  .header-container, .benefit-blocks, .about-us {
    margin-left: 16px;
  }

  #ppc-pic {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: 'Gordita Regular';
  src: url('fonts/Gordita Normal.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Bold';
  src: url('fonts/Gordita Bold.woff') format('woff');
}

body {
  font-family: 'Gordita Regular';
  color: #333333;
}

/* Navigation */

.nav-container {
  background-color: #FFFFFF;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  box-shadow: 0px 0px 3px 0px #E7E9EB;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 80px;
  font-size: 14px;
  line-height: 20px;
}

.align-left {
  display: flex;
  justify-content: flex-start;
}

.align-left ul {
  display: flex;
  justify-content: flex-start;
}

.align-right ul{
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.align-left li {
  margin: auto 28px auto 0px;
}

.align-right li{
  margin: auto;
}

.nav-btn {
  display: flex;
  text-align: center;
}

.nav-btn img {
  margin-left: 6px;
}

.logo-header {
  display: flex;
  text-align: center;
  margin-right: 32px;
}

.nav-settings a{
  font-size: 16px;
  line-height: 24px;
  margin-left: 0px;
}

.trial-btn button{
  font-style: normal;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  border: none;
  background: #FF9900;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 0px;
  padding: 9px 20px 7px 20px;
}

.login-btn button{
  font-style: normal;
  font-weight: bold;
  color: #4A4A4A;
  text-decoration: none;
  border: none;
  background: #FFF;
  font-size: 16px;
  line-height: 24px;
  margin-left: 12px;
}

.nav-settings select {
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  height: 32px;
}


.header-container {
  /* display: flex;
  text-align: left; */
  padding-top: 260px;
  padding-bottom: 120px;
}

.header-container h1 {
  font-family: 'Gordita Bold';
  font-size: 50px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 28px;
}

.header-container p{
  font-style: normal;
  font-size: 22px;
  line-height: 36px;
  color: #4A4A4A;
  margin-bottom: 28px;
}

#explore-btn {
  padding: 13px 20px 11px 20px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  border: none;
  background: #FF9900;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
}

header img {
  position: absolute;
  width: 640px;
  height: 640px;
  right: calc((100vw - 1024px)/2 - 64px);
  top: 80px;
  z-index: -1;
}

.benefit-blocks {
  text-align: left;
  padding-bottom: 80px;
}

.benefit-blocks .wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.benefit-blocks img{
  width: 60px;
}

.benefit-blocks h1{
  font-family: 'Gordita Bold';
  font-size: 22px;
  line-height: 28px;
  color: #333333;
  margin: 20px 0px;
}

.benefit-blocks p {
  width: 320px;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4A;
}

.save-time, .achieve-goals {
  margin-right: 32px;
}

.amazon-tools {
  overflow-x: hidden;
  background-image: url("src/bg-pic3.svg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-attachment: fixed;
  background-size: cover;
}

.about-us{
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us h1{
  font-family: 'Gordita Bold';
  font-size: 44px;
  line-height: 56px;
  color: #333333;
  margin: 0 auto 40px auto;
  max-width: 1024px;
}

#bg-img2 {
  position: absolute;
  width: 413px;
  height: 221px;
  right: calc((100vw - 1024px)/2 - 64px) ;
  z-index: -1;
}

.about-us .wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-us .description p {
  width: 440px;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4A;
}

.about-us .description {
  margin-right: 60px;
}

#companies-logos {
  width: 348px;
  height: 148px;
  margin-top: 44px;
}

#about-us-learn-more {
  display: flex;
  text-align: center;
  margin-top: 36px;
}

#about-us-learn-more a{
  font-size: 16px;
  line-height: 24px;
  color: #FF9900;
}

#about-us-learn-more img {
  margin-left: 4px;
}

.feedback-container {
  width: 496px;
  height: 368px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;

  background: #FFFFFF;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 40px;
}

.feedback-container img {
  width: 108px;
  height: 108px;
}

#pic-and-label {
  display: flex;
  align-items: center;
}

#ceo-label {
  width: 164px;
  margin-left: 24px;
}

#ceo-label h4 {
  font-family: 'Gordita Bold';
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

#ceo-label p{
  font-size: 12px;
  line-height: 16px;
  color: #888888;
}

#ceo-quote {
  margin-top: 24px;
  width: 416px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.amazon-tools {
  padding-top: 160px ;
  padding-bottom: 80px ;
}

.amazon-tools .wrapper {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

#tools-header {
  width: 848px;
  height: 132px;
  font-family: 'Gordita Bold';
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
}

#bg-img3 {
  z-index: -1;
  position: absolute;
  margin-top: -30px;
  width: 1200px;
  left: calc(50vw - 600px);
  text-align: center;
}


.ppc-tool {
  padding: 32px;
  background: #FFFFFF;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 98%;
  margin-top: 80px;
  margin-bottom: 32px;
  flex-grow: 3;
  flex-shrink: 1;
}



.ppc-header {
  font-family: 'Gordita Bold';
  font-size: 22px;
  line-height: 28px;
  margin: 20px 0 20px 0px;
}

.ppc-tool .ppc-desc {
  width: 464px;
  height: 60px;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  margin: 0px 0px 28px 0px;
}


.ppc-secondary-header {
  font-family: 'Gordita Bold';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #333333;
}

.first-features-list {
  display: flex;

  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 464px;
}

.first-features-list .feature-item {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 32px;
  margin-top: 20px;

}

.first-features-list img {
  margin-right: 12px;
}

.first-features-list p {
  width: 152px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  /* white-space: nowrap; */
}

#ppc-pic {
  /* margin: 24px 40px 22px 0; */
  width: 396px;
  min-width: 150px;
}

.ppc-learn-more-btn {
  margin-top: 28px;
  /* margin-bottom: 32px; */
  width: 232px;
  height: 48px;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 4px;
  padding: auto 30px;
  display: flex;
  justify-content: space-between;
}

.ppc-learn-more-btn a {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  margin: auto 20px;
}

.ppc-learn-more-btn img {
  margin: auto 20px;
}


.three-in-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 3;
  flex-shrink: 1;
  grid-row-gap: 16px;
}

.three-cards {
  padding: 32px;
  background-color: #FFFFFF;
  width: 320px;
  height: 552px;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  /* box/shadow */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ppc-desc {
  width: 256px;
  height: 80px;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  margin: 0px 0px 28px 0px;
}


.features-list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.features-list .feature-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.features-list img {
  margin-right: 12px;
}

.features-list p {
  width: 220px;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  /* white-space: nowrap; */
}

.three-in-row .ppc-learn-more-btn {
  align-self: flex-end;
}

.feedback {
  overflow-x: hidden;
  /* margin-bottom: 80px; */
  background-image: url("src/bg-pic4.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
  padding-bottom: 80px;
}

#feedback-header {
  width: 848px;
  height: 300px;
  text-align: center;
  font-family: 'Gordita Bold';
  font-size: 44px;
  line-height: 56px;
  margin: 0 auto 20px auto;
  padding-top: 120px;
}

.feedback-cards {
  z-index: 0;
  position: relative;
  overflow-x: hidden;
  /* height: 400px; */
  left: -8%;
  width: 117%;
  display: block;
}

.first-row, .second-row {
  display: flex;
  flex-wrap: nowrap;
}

.first-row {
  position: relative;
  left: -50%;
}

.second-row {
  position: relative;
  left: -400%;
}

.card {
  min-width: 344px;
  height: 156px;
  display: flex;
  background: white;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  flex-wrap: wrap;
  padding: 24px;
  grid-gap: 12px;
  margin: 12px;
}

.card p {
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  /* margin-bottom: 8px; */
}

.feedback-quote {
  position: relative;
  width: 100%;
  height: 65%;
}

.card img ~ p {
  color: #888888;
  margin-top: auto;
  margin-bottom: auto;
}

.card img {
  border-radius: 50%;
  height: 28px;
  width: auto;

}

.solutions {
  overflow-x: hidden;
  /* margin-bottom: 80px; */
  background-image: url("src/bg-pic5.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* #bg-img5 {
  z-index: -2;
  position: absolute;
  margin-top: -30px;
  width: 1200px;
  left: calc(50vw - 600px);
  text-align: center;
} */

#solutions-header {
  width: 600px;
  height: 160px;
  text-align: center;
  font-family: 'Gordita Bold';
  font-size: 44px;
  line-height: 56px;
  margin: 0 auto 30px auto;
  padding-top: 0px;
}

.solutions .three-cards {
  width: 320px;
  height: 656px;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.solutions .ppc-learn-more-btn {
  margin-top: auto;
  width: 100%;
}

.blue-btn {
  background-color: #68C3DE;
}

.purple-btn {
  background-color: #8B3ACA;
}

.green-btn {
  background-color: #2DC5C5;
}

.solutions-secondary-header {
  font-family: 'Gordita Bold';
  font-size: 22px;
  line-height: 28px;
  margin: 12px 0 24px 0px;
  width: 256px;
}

.solutions-desc {
  font-size: 16px;
  line-height: 24px;
}

.solutions-ic {
  width: 60px;
  height: 60px;
  text-align: left;
}

.benefits-list {
  margin-top: 38px;
  max-height: 200px;
}

.benefits-list img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.benefit-item {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4A;
  margin-bottom: 20px;
}

.benefit-item p {
  max-width: 228px;
}


.recommended .wrapper {
  display: flex;
  justify-content: space-around;
}

#recommended-header {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Gordita Bold';
  font-size: 44px;
  line-height: 56px;
  margin: 0 auto 80px auto;
  padding-top: 120px;
}

.resources {
  width: 444px;
  margin-bottom: 120px;
}

.resources > * {
  display: flex;
  gap: 8px;
}

.recommended h2 {
    width: auto;
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 22px;
}

.res-link {
  width: 440px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.res-link img{
  width: 24px;
  height: 24px;
}

.res-name {
  text-transform: uppercase;
  width: 400px;
  font-weight: bold;
}

.res-link a {
  width: 100%;
}

.res-link :last-child {
  color: #888888;
}

.recommended .vl {
  height: 548px;
  width: 1px;
  background: linear-gradient(359.94deg, rgba(212, 213, 217, 0.2) 0%, #D4D5D9 51.93%, rgba(212, 213, 217, 0.2) 100%);
}

.video-link {
  width: 496px;
  height: 132px;
  margin-bottom: 24px;
  flex-direction: column;
  flex-wrap: wrap;

  background: #FFFFFF;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  box-shadow: -5px 10px 28px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  padding: 28px;
}

.video-link-text {
  width: 296px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-link-text a {
  width: 296px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;

    /* border: solid red 2px; */
}

.video-link iframe {
  /* flex: 1 1 76px; */
  height: 76px;
  width: 124px;
}

.video-link-text :last-child {
  font-size: 14px;
  color: #888888;
}

/* #bg-img6 {
  z-index: -2;
  position: absolute;
  width: 1200px;
  left: calc(50vw - 600px);
  text-align: center;
} */

.subscribtion {
  height: 646px;
  position: relative;
  background-image: url("src/bg-pic6.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.try-ppc {
  padding: 20px;
  display: flex;
  text-align: left;
  width: 496px;
  flex-direction: column;
  color: white;
  align-items: baseline;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.try-ppc div {
  display: flex;
}

.try-ppc h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.try-ppc > p {
  margin-top: 28px;
  font-size: 16px;
  line-height: 24px;
  width: 408px;
}

.email-form {
  width: 496px;
  margin-top: 60px;
}

.email-form input[type=email] {
  width: 344px;
  padding: 12px 20px;
  border: 1px solid #E7E9EB;
  box-sizing: border-box;
  border-radius: 4px;
  color: #888888;
}

.email-form .trial-btn button{
  margin-left: 8px;
}

.terms {
  overflow: hidden;
  margin-top: 16px;
  gap: 4px;
}

 .terms input[type=checkbox]  {
  width: 16px;
  height: 16px;
  border: 1px solid #E7E9EB;
  border-radius: 4px;
  background: rgba(40,40,40,0.2);
  color:black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 2px 0 2px 0;
}

.terms input[type=checkbox]:checked {
    background: rgba(255, 153, 0, 1);
}

.terms p {
  font-size: 14px;
  line-height: 20px;
}

footer {
  background-color: #222222;
  color: #FFFFFF;
  font-size: 12px;
  padding: 40px 128px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer-main a {
  color: #B8B8B8
}

.footer-main img {
  position: relative;
  margin-bottom: 8px;
}

.products ul, .packages ul, .more ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  height: 150px;
}

.products h4, .packages h4, .more h4{
margin-bottom: 4px;
}

.products {
  flex-basis: auto;
  width: 300px;
  min-width: 140px;
}

.products ul br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 24px; /* change this to whatever height you want it */
}

.footer-secondary {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: #B8B8B8;
}

.policies {
  display: flex;
  gap: 16px;
}

.policies a {
  color: white;
}

.socials {
  display: flex;
  gap: 20px;
}
